[Desktop Entry]
Comment=Audio player/recorder/converter
Exec=phiola gui
GenericName=Audio player/recorder/converter
Icon=~/bin/phiola-2/mod/gui/phiola.ico
MimeType=audio/x-wav;audio/x-opus+ogg;audio/ogg;audio/mpeg;audio/mp4;audio/flac;
Name=phiola
Type=Application
Categories=AudioVideo;Audio
